## secured files
/info/*
#!/info/ROUTES.md
/data/*
!/data/elementarylearn_db_init.sql
/data/bkp
/data/certs/*
!/data/certs/.keep
/data/credentials.json*
!/data/_credentials.json
/data/*.mwb*
/data/*.mvb.bak*
/deploy.conf*
/system/env.*
GDPR_POLICY_RU.txt*
/filestore/*
/filestore/userpic/*
!/filestore/userpic/index.html
!/filestore/userpic/user.jpg
!/filestore/index.html
/filestore/uploaded/*
!/filestore/uploaded/index.html
/filestore/media
!/filestore/demo
/web/templates/cv/*
old-*
-*.html
-*.go
_old_*
old_*
*.swp
*/*.swp
*/_old*
/go.sum

## common files
/123*
/123.go*
.*
!.gitignore
*~
!/main.go*
/vendor
/favicon.ico
/*.sublime-project
/*.sublime-workspace
/elementarylearn
/build/*
!/build/.keep