%% define "devcourse/error.html" %%﻿
<!DOCTYPE html>
<html lang="ru"> 
<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Автор сайта elementary stack Роман">    
	<meta name="description" content="обучаю основам web программирования в Харькове - простое обучение golang sql js для начинающих">
	<title>Elementary-learn - Coming soon page</title>
	<link rel="shortcut icon" href="/assets/images/favicon.ico"> 
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:800|Roboto:400,500,700&display=swap" rel="stylesheet">
	<!-- FontAwesome JS-->
	<script defer src="/assets/fontawesome/js/all.min.js"></script>
	<!-- Theme CSS -->  
	<link id="theme-style" rel="stylesheet" href="/assets/css/theme-1.css">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-BBBBBBBBBBB"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-BBBBBBBBBBB');
	</script>
</head> 
<body>	
	<div class="sections-wrapper">	
		<!-- <div class="section-nav-space-holder d-none d-lg-block"> -->
		<div class="section-nav-space-holder d-lg-block">
	        <div id="section-nav-wrapper" class="section-nav-wrapper text-center">
	            <div class="container-fluid justify-content-center">
	                <ul id="section-nav" class="section-nav nav list-inline">
	                    <li class="nav-item"><a class="nav-link" href="/" target="_self">Главная</a></li>
	                    <li class="nav-item"><a class="nav-link"  href="/#section-content">Содержание</a></li>
	                    <li class="nav-item"><a class="nav-link"  href="/#section-requirements">Требования</a></li>
	                    <li class="nav-item"><a class="nav-link"  href="/#section-tutor">Наставник</a></li>
	                    <li class="nav-item"><a class="nav-link"  href="/#section-reviews" title="пока не доступно!">Отзывы</a></li>
	                    <li class="nav-item"><a class="nav-link"  href="/#section-pricing">Цены</a></li>
	                    <li class="nav-item"><a class="nav-link"  href="/#section-faq">Вопросы-Ответы</a></li>
	                    <li class="nav-item"><a class="nav-link" href="/#section-more">Еще</a></li>
	                </ul><!--//page-nav-->
	            </div>
	        </div><!--//page-nav-wrapper-->
	    </div><!--//page-nav-space-holder-->
        
        <div id="section-content" class="section-content section">
		        <div class="container py-5">
			        <div class="section-col-max mx-auto">
			            <h3 class="section-title mb-5">Просим подождать</h3>
			            
			            <h4 class="text-center mb-4">Данный контент еще не готов.</h4>
						
						<div class="text-center mt-5">
				            <a class="btn btn-primary" href="/">Вернутся на главную</a>
			            </div>
			            
			            
			        </div>	            
		        </div><!--//container-->
		</div><!--//section-content-->
	</div><!--//section-wrapper-->

	<footer class="footer pb-5 text-center">
		<div class="container">
			<div class="copyright mb-2">
				<!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
	            Designed with <i class="fas fa-heart" style="color: #fb866a;"></i> by <a class="theme-link" href="http://themes.3rdwavemedia.com" target="_blank" rel="nofollow noopener">Xiaoying Riley</a> for developers
			</div>
			<div class="legal mb-0">
				<ul class="list-inline mb-0" lang="en">
					<li class="list-inline-item"><a href="/index.html">Home</a></li>
					<li class="list-inline-item theme-text-light">|</li>
					<li class="list-inline-item"><a href="/support.html">Support</a></li>
					<li class="list-inline-item theme-text-light">|</li>
					<li class="list-inline-item"><a href="/GDPR_POLICY_RU.txt">Privacy Policy</a></li>
					<li class="list-inline-item theme-text-light">|</li>
					<li class="list-inline-item"><a href="/tos.html">Terms of Services</a></li>
				</ul>
			</div>
		</div><!--//container-->
	</footer><!--//footer-->
	
	<!-- Javascript -->          
	<script src="/assets/plugins/jquery-3.4.1.min.js"></script>
	<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>  
	<script src="/assets/js/main.js"></script>
	
	<!-- Style Switcher (REMOVE ON YOUR PRODUCTION SITE) -->
	<!--script src="/assets/js/demo/style-switcher.js"></script-->  

</body>
</html> 
%% end %%
